table {
    margin:20px 0px 50px 0px;
    thead {
        tr {
            background-color:#EEEEEE;
        }

        th {
            padding:10px;
        }
    }

    tr:nth-child(even)   { background-color:#fff; }
    tr:nth-child(odd)    { background-color:#eee; }

    td {
        padding:10px;
    }

    tbody {
        tr:nth-child(even)   { background-color:#eee; }
        tr:nth-child(odd)    { background-color:#fff; }

        td {
            padding:10px;
        }
    }
}

strong {
    margin:40px 0px -10px 0px
}

p {
    margin-bottom:20px;
}

.carouselImg {
    object-fit:cover;
}

.genreCard, .dataCollectionCard {
    background-color: transparent;
    height: 780px;

    div {
        background-color: transparent;
    }
}

.row {
    justify-content: center;
}