.map {
    width: 50%
}

.eventList {
    width: 50%
}

.popup {
    z-index:5;
    background-color:#fff;
    width: 270px;
    height: 310px;
    position: absolute;

    padding:10px;
    border-radius:10px;
    opacity: 0.8;
    display:flex;
    flex-direction: column;
    align-items: center;

    .popupBox {
        font-weight:bold;
        text-decoration: underline;
    }

    .popupTitle {
        padding-bottom:0px;
        margin-bottom:0px;
    }

    .popupTitleText {
        text-align: center
    }

    p {
        font-size:15px;
    }

}

.marker {
    z-index:1;
    position: absolute
}

.pigeon-drag-block {
    z-index: 2
}
